template container Panel(GUI/UI)
{
	metrics_mode relative
	material GUI/UI
	horz_align left
	vert_align top
	width 0.2
	height 0.1
	top 0.015
	element TextArea(Kills)
	{
        font_name GUI/Value        
		char_height 0.02
        space_width 0.01
        colour 0.98 0.76 0.55
		colour_bottom 0.94 0.57 0.23
		left 0.14
		top 0.055
	}
	element TextArea(Points)
	{
        font_name GUI/Value
		char_height 0.02
        space_width 0.01
        colour 0.98 0.76 0.55
		colour_bottom 0.94 0.57 0.23
		left 0.14
		top 0.0725
	}
	element Panel(LifeBar)
	{
		material GUI/LifeBar
		uv_coords 0 0 0.87 0.65
		left 0.1025
		top 0.0115
		height 0.028
		width 0.08345
	}
	element Panel(SpecialBar)
	{
		material GUI/SpecialBar
		uv_coords 0 0 0.83 0.9
		left 0.1055
		top 0.03375
		height 0.0192
		width 0.0775
	}
}
	