// User Interface
template container Panel(GUI/UI)
{
	metrics_mode relative
	material GUI/UI
	horz_align left
	vert_align top
	width 0.2
	height 0.1
	top 0.015
	element TextArea(GUI/UI/Kills)
	{
        font_name GUI/Value        
		char_height 0.02
        space_width 0.01
        colour 0.98 0.76 0.55
		colour_bottom 0.94 0.57 0.23
		left 0.14
		top 0.055
	}
	element TextArea(GUI/UI/Points)
	{
        font_name GUI/Value
		char_height 0.02
        space_width 0.01
        colour 0.98 0.76 0.55
		colour_bottom 0.94 0.57 0.23
		left 0.14
		top 0.0725
	}
	element Panel(GUI/UI/LifeBar)
	{
		material GUI/LifeBar
		uv_coords 0 0 0.87 0.65
		left 0.1025
		top 0.0115
		height 0.028
		width 0.08345
	}
	element Panel(GUI/UI/SpecialBar)
	{
		material GUI/SpecialBar
		uv_coords 0 0 0.83 0.9
		left 0.1055
		top 0.03375
		height 0.0192
		width 0.0775
	}
}

//// Menus templates ////

template container Panel(GUI/Menu)
{
	metrics_mode relative
}
template element TextArea(GUI/Menu/Title)
{
	font_name GUI/MenuText
	alignment center
	char_height 0.06
	space_width 0.01
	colour 1.0 1.0 0.0
}
template element TextArea(GUI/Menu/Option)
{
	font_name GUI/MenuText
	alignment center
	char_height 0.09
	space_width 0.01
	colour 1.0 1.0 1.0
}

// Main menu options
template container Panel(GUI/MainMenu) : GUI/Menu
{	
	element TextArea(GUI/MainMenu/Option0) : GUI/Menu/Option
	{
		horz_align left
		top 0.4
		left 0.1
		colour 1.0 0.5 0.0
		caption Play
	}
	element TextArea(GUI/MainMenu/Option1) : GUI/Menu/Option
	{
		horz_align left
		top 0.6
		left 0.1
		caption Options
	}
	element TextArea(GUI/MainMenu/Option2) : GUI/Menu/Option
	{
		horz_align left
		top 0.6
		left 0.9
		caption Credits
	}
	element TextArea(GUI/MainMenu/Option3) : GUI/Menu/Option
	{
		horz_align left
		top 0.8
		left 0.9
		caption Quit
	}
}

// Pause menu options
template container Panel(GUI/PauseMenu) : GUI/Menu
{	
	element TextArea(GUI/PauseMenu/Option0) : GUI/Menu/Option
	{
		horz_align center
		top 0.4
		left 0.0
		colour 1.0 0.5 0.0
		caption Resume
	}
	element TextArea(GUI/PauseMenu/Option1) : GUI/Menu/Option
	{
		horz_align center
		top 0.6
		left 0.0
		caption Options
	}
	element TextArea(GUI/PauseMenu/Option2) : GUI/Menu/Option
	{
		horz_align center
		top 0.8
		left 0.0
		caption Quit
	}
}

// One option menu
template container Panel(GUI/ContinueMenu) : GUI/Menu
{	
	element TextArea(GUI/ContinueMenu/Option0) : GUI/Menu/Option
	{
		horz_align center		
		char_height 0.06
		colour 1.0 0.5 0.0
		top 0.85
		caption Continue
	}
}

// Options menu
template container Panel(GUI/OptionsMenu) : GUI/Menu
{	
	element TextArea(GUI/OptionsMenu/Option0) : GUI/Menu/Option
	{
		horz_align center		
		char_height 0.06
		top 0.9
		left 0.35
		colour 1.0 0.5 0.0
		caption Back
	}
}

// Credits menu
template container Panel(GUI/CreditsMenu) : GUI/Menu
{	
	element TextArea(GUI/CreditsMenu/Option0) : GUI/Menu/Option
	{
		horz_align center
		char_height 0.05
		top 0.9
		left 0.35
		colour 1.0 0.5 0.0
		caption Main Menu
	}
}

// Outro menu
template container Panel(GUI/OutroMenu) : GUI/Menu
{	
	element TextArea(GUI/OutroMenu/Option0) : GUI/Menu/Option
	{
		horz_align center
		char_height 0.04
		top 0.9
		left 0.4
		colour 1.0 0.5 0.0
		caption Continue
	}
}

// Ending menu
template container Panel(GUI/EndingMenu) : GUI/Menu
{	
	element TextArea(GUI/EndingMenu/Option0) : GUI/Menu/Option
	{	
		top 0.8
		left 0.3
		colour 1.0 0.5 0.0
		caption Main Menu
	}
	element TextArea(GUI/EndingMenu/Option1) : GUI/Menu/Option
	{
		top 0.8
		left 0.7
		caption Credits
	}
}

// Game over menu
template container Panel(GUI/GameOverMenu) : GUI/Menu
{	
	element TextArea(GUI/GameOverMenu/Option0) : GUI/Menu/Option
	{		
		top 0.8
		left 0.3
		colour 1.0 0.5 0.0
		caption Main Menu
	}
	element TextArea(GUI/GameOverMenu/Option1) : GUI/Menu/Option
	{
		top 0.8
		left 0.7
		caption Exit
	}
}
